<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<h1 style="text-align: center">Savings Investment Records</h1>
<br>
<br>
The following are the savings records...
<table class="table table-striped">
    <thead>
    <tr>
        <th>Customer number</th>
        <th>Customer Name</th>
        <th>Customer Deposit</th>
        <th>Number of years</th>
        <th>Savings Type</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p:${listInvestments}">
        <td th:text="${p.getCustomerNumber()}"></td>
        <td th:text="${p.getCustomerName()}"></td>
        <td th:text="${p.getCustomerDeposit()}"></td>
        <td th:text="${p.getNumberOfYears()}"></td>
        <td th:text="${p.getSavingsType()}"></td>
        <td>
            <a class="btn btn-primary" th:href="@{editInvestment(id=${p.getId()})}">Edit</a>
        </td>
        <td>
            <a class="btn btn-warning" onClick="return confirm('Are you sure you want to delete the record?')" th:href="@{deleteInvestment(id=${p.getId()})}">Delete</a>
        </td>
        <td>
            <a class="btn btn-primary" th:href="@{projectInvestment(id=${p.getId()})}">Project Investment</a>
        </td>
    </tr>
    </tbody>
</table>
<a class="btn btn-success" th:href="@{addInvestment}">Add</a>
</body>
</html>