<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<h1 th:text="'Projected table of customer number ' + ${investment.customerNumber}"></h1>
<br>
<br>
<h1 th:text="'Name: ' + ${investment.customerName}"></h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Year</th>
        <th>Starting Amount</th>
        <th>Interest</th>
        <th>Ending Balance</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p:${listProjected}">
        <td th:text="${p.year}"></td>
        <td th:text="${p.startingAmount}"></td>
        <td th:text="${p.interest}"></td>
        <td th:text="${p.endingBalance}"></td>
    </tr>
    </tbody>
</table>
<a class="btn btn-primary" th:href="@{/}">Submit</a>
</body>
</html>